<div class="contact mx-auto">
    <div class="contact-content text-center">
        <h2 class="fw-bold fs-1 text-uppercase">conatct section</h2>
        <div class="d-flex justify-content-center gap-3 align-items-center m-4 text-center">
            <div class="line "></div>
            <i class="fa-solid fa-star" ></i>
            <div class="line"></div>
            
        </div>
    </div>
    <div class="form container">
      <div class="mb-3 mx-auto w-50 p-2 position-relative label-view">
        <label for="userName">userName:</label>
        <input  type="text" class="form-control form-control-lg" id="userName" placeholder="userName">
      </div>
        <div class="mb-3 mx-auto w-50 p-2">
          <label for="age">useAge:</label>
            <input type="text" class="form-control form-control-lg" id="age" placeholder="userAge">
          </div>
        <div class="mb-3 mx-auto w-50 p-2">
          <label for="email">userEmail:</label>
            <input type="email" class="form-control form-control-lg" id="email" placeholder="userEmail">
          </div>
        <div class="mb-3 mx-auto w-50 p-2">
          <label for="pass">userEmail:</label>
            <input type="password" class="form-control form-control-lg" id="pass" placeholder="userPassword">
          </div>
        <div class="mb-3 mx-auto w-50 p-2">
            <button class="btn second-bg text-white  ">Send Massage</button>
          </div>

         
          
    </div>
</div>