h2,i{
    color: #2C3E50;
 }

 .contact{
   
    background-color: white;
    margin-top: 100px;
    padding-top: 40px;
}

.form-control{
    border: none;
    border-bottom: 1px solid #ced4da;
}
.form-control:focus{
    box-shadow: none;
}

.btn:hover
{
    background-color: #1ABC9C;

}

label{
    color: #1ABC9C;
    position: relative;
    

}
.label-view{
    overflow: hidden;
}

.bottom-0{
    bottom: 0;
}
.bottom-80{
    bottom: -80px;
}