<div class="home second-bg d-flex  align-items-center justify-content-center text-center text-white">
  <div>
    <div>
        <img src="../../assets/avatar.svg" alt="icon" class="w-100 p-5 ">
       </div>
        <div class="home-content mt-2">
            <h2 class="text-uppercase fs-1 fw-bold">start Framework</h2>
            <div class="d-flex justify-content-center gap-3 align-items-center m-4">
                <div class="line-white"></div>
                <i class="fa-solid fa-star" ></i>
                <div class="line-white"></div>
                
            </div>
            <p>Graphic Artist - Web Designer - Illustrator</p>
        </div>
  </div>
    
</div>
